*{
    padding 0px 
    margin 0px 
    text-decoration: none
}
.clearfix::after 
    display block
    content: ''
    clear both


header 
    padding 0px 230px
    background-color #000
    .inner 
        .icon 
            float left 
            margin 10px 0px
        .search 
            float right
            margin 35px 0px
            a
                color #fff
                border 1px solid #000
                font-size 12px
                padding 8px
                background-color #555555        
                
main
    margin-top 20px
    text-align center
    &>div.wrapper 
        display inline-block
        div
            font-size 12px
            &:nth-child(2)
                margin-left 3em
            &:nth-child(3)
                margin-left 6em
            &>kbd
                text-align: center
                border 1px solid #000
                font-size 2em
                display inline-block
                width 3em
                height 3em
                text-transform: uppercase
                position relative
                button
                    position: absolute
                    bottom 5px 
                    right 5px 
                    display: none
                &:hover button 
                    display: inline-block
